<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>33</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
</head>
<body>

<div ng-app="hd" ng-controller="ctrl">
    <form action="" method="post" class="form-horizontal" role="form">
        <div class="container">
            <div class="row">
                <div class="col-xs-4" class="app">
                    <div class="mobile">
                        <dl ng-repeat="v in data.button">
                            <dt ng-bind="v.name"></dt>
                            <dd>
                                <a href="" ng-repeat="d in v.sub_button" ng-bind="d.name"></a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Edit Zone</h3>
                        </div>
                        <div class="panel-body">
                            <!-- 一级菜单开始 -->
                            <div class="panel panel-default top-menu" ng-repeat="v in data.button">
                                <i class="fa fa-times-circle top-fa fa-2x" ng-click="removeTopMenu(v)"></i>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">标题</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="v.name">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-hide="v.sub_button.length>0">
                                        <label for="" class="col-sm-2 control-label">类型</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" value="click" ng-model="v.type"> 关键词
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="view" ng-model="v.type"> 网址
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="v.type=='click' && v.sub_button.length==0">
                                        <label for="" class="col-sm-2 control-label">关键词</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="v.key">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="v.type=='view' && v.sub_button.length==0">
                                        <label for="" class="col-sm-2 control-label">链接</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="v.url">
                                        </div>
                                    </div>
                                </div>
                                <!-- 二级菜单 -->
                                <div class="panel-body">
                                    <div class="panel panel-default sub_menu" ng-repeat="d in v.sub_button">
                                        <i class="fa fa-times-circle sub-fa fa-lg" ng-click="removeSubMenu(v, d)"></i>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">标题</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="d.name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">类型</label>
                                                <div class="col-sm-10">
                                                    <label class="radio-inline">
                                                        <input type="radio" value="click" ng-model="d.type"> 关键词
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" value="view" ng-model="d.type"> 网址
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-if="d.type=='click'">
                                                <label for="" class="col-sm-2 control-label">关键词</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="d.key">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-if="d.type=='view'">
                                                <label for="" class="col-sm-2 control-label">链接</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="d.url">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-info" ng-click="addSubButton(v)">添加菜单</button>
                                </div>
                            </div>
                            <!-- 一级菜单结束 -->
                            <button type="button" class="btn btn-success" ng-click="addTopButton()">添加一级菜单</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var m = angular.module('hd', []);
    m.controller("ctrl", ['$scope', function($scope) {
        $scope.data = {
            "button":[
                {
                    "type":"click",
                    "name":"今日歌曲",
                    "key":"V1001_TODAY_MUSIC"
                },
                {
                    "type":"view",
                    "name":"Bensusan",
                    "url":"bensusan.cn",
                    "sub_button":[
                        {
                            "type":"view",
                            "name":"搜索",
                            "url":"http://www.soso.com/"
                        },
                        {
                            "type":"click",
                            "name":"赞一下我们",
                            "key":"V1001_GOOD"
                        }
                    ]
                }]
        };
        $scope.addTopButton = function() {
            var menu = {
                "type":"click",
                "name":"今日歌曲",
                "key":"V1001_TODAY_MUSIC"
            };
            if($scope.data.button.length==3)
                return false;
            $scope.data.button.push(menu);
        };
        $scope.addSubButton = function(item) {
            var menu = {
                "type":"click",
                "name":"赞一下我们",
                "key":"V1001_GOOD"
            };
            if(!item.sub_button){
                item.sub_button = [];
            }
            item.sub_button.push(menu);
        };
        //删除一级菜单
        $scope.removeTopMenu = function(item) {
            $scope.data.button = _.without($scope.data.button, item);
        };
        //刪除二级菜单
        $scope.removeSubMenu = function(topMenu, subMenu) {
            topMenu.sub_button = _.without(topMenu.sub_button, subMenu);
        }
    }]);
</script>
</body>
</html>