<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>24</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<div ng-app="hd" ng-controller="ctrl">
	<div ng-click="show()">事件</div>
	<input type="text" ng-change="change()" ng-model="title">
	<!-- ng-change:发生变化 ng-blue:失去焦点 ng-keydown:按下键盘 ng-keyup:键盘抬起 ng-keypress:键盘按下 ng-mousedown:鼠标按下 ng-mouseenter:鼠标进入 ng-mouseleave:鼠标退出 ng-mousemove:鼠标移动 -->
</div>
<script type="text/javascript">
	var m = angular.module('hd', []);
	m.controller("ctrl", ['$scope', function($scope) {
		$scope.show = function() {
			alert(123);
		}
		$scope.change = function() {
			alert($scope.title);
		}
	}]);
</script>
</body>
</html>