<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>43</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
</head>
<body>

<div ng-app="hd" ng-controller="ctrl">
  搜索： <input type="text" ng-model="search">
  <table border="3" width="600">
      <tr>
          <td>编号</td>
          <td>点击数</td>
          <td>标题</td>
      </tr>
      <tr ng-repeat="(k,v) in lists">
          <td>{{v.id}}</td>
          <td>{{v.click}}</td>
          <td>{{v.title}}</td>
      </tr>
  </table>
</div>
<script type="text/javascript">
    var m = angular.module('hd', []);
    m.controller("ctrl", ['$scope', '$filter', function($scope, $filter) {
      $scope.data = [
        {id:1, click:100, title:'PHP'},
        {id:2, click:200, title:'Javascript'},
        {id:3, click:300, title:'Python'},
      ];
      $scope.lists = $scope.data;
      $scope.$watch('search', function(n,o) {
            $scope.lists = $filter('filter')($scope.data, n);
      });
    }]);
</script>
</body>
</html>