<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>54</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
</head>
<body>

<div ng-app="hd" ng-controller="ctrl">
    <input type="text" ng-model="name">
  <h1 axxcola attr-color="name"></h1>
</div>
<script type="text/javascript">
    var m = angular.module('hd', []);
    m.directive("axxcola", [function() {
      return {
        restrict: "AEC",
        template: '<span style="color:{{color}}">axxcola</span><input type="text" ng-model="color">',
        scope: {color:'=attrColor'} // =：双向数据绑定。等号后面的attrColor是以attr-color这个属性的值（name）当作变量去控制器中找，然后当作指令的一个变量传递给span标签中{{}}里面的color.并且指令中的color会影响控制器
      };
    }]);
    m.controller('ctrl', ['$scope', function($scope) {
        $scope.name="green";
        $scope.color="green";
    }]);
</script>
</body>
</html>