<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>63</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
</head>
<body>

<div ng-app="hd" ng-controller="ctrl">
    <!-- <a href="" ng-click="get()">get</a><hr>
    {{message}} -->
    <a href="" ng-click="getClientHeight()">根据内容获取</a>
    <hr>
    内容高度是：{{clientHeight}}
    <hr>
    <a href="" ng-click="getScrollHeight()">获取显示区域</a>
    内容显示区域是：{{scrollHeight}}

</div>
<script type="text/javascript">
    var m = angular.module('hd', []);
    m.controller('ctrl', ['$scope','$window', function($scope, $window) {
        // $scope.get = function() {
        //     if($window.confirm('确定吗？')) {
        //         $scope.message = "确定";
        //     } else {
        //         $scope.message= "取消";
        //     }
        // }
        $scope.getClientHeight = function() {
            $scope.clientHeight = $window.document.body.clientHeight;
        }
        $scope.getScrollHeight = function() {
            $scope.scrollHeight = $window.document.body.scrollHeight;
        }
    }]);
</script>
</body>
</html>